html{
  
}

body{
	margin: 0px;
  border-radius:4px;
  background-image: url(../img/body-bg11.png); 
  margin:0;font-family: Arial, Helvetica, sans-serif;
	background-repeat: repeat;
	background-color: #BDBDBD;
	background-attachment: fixed;
	background-position: top left;
	
	filter: alpha(opacity=90); -moz-opacity: 0.9; opacity: 0.9;
  color: #000000;
  overflow: auto;
}

/* INFO  //1bithalftone.png
=========================================================*/

#container {
	/*background-color: #e9e9e9;*/
}

#go-button {
}

/* webkit requires explicit width, height = 100% of sceeen */
/* webkit also takes margin into account in full screen also - so margin should be removed (otherwise black areas will be seen) */
#container:-webkit-full-screen {
	width: 100%;
	height: 100%;
	/*background-color: pink;*/
	margin: 0;
}

#container:-moz-full-screen {
	/*background-color: pink;*/
	margin: 0;
}

#container:-ms-fullscreen {
	/*background-color: pink;*/
	margin: 0;
}


#container:not(:fullscreen){ 

}

/* W3C proposal that will eventually come in all browsers */
#container:fullscreen { 
	margin: 0px;
  border-radius:4px;
  background-image: url(../img/body-bg11.png); 
  margin:0;font-family: Arial, Helvetica, sans-serif;
	background-repeat: repeat;
	background-color: #BDBDBD;
	background-attachment: fixed;
	background-position: top left;
	
	filter: alpha(opacity=90); -moz-opacity: 0.9; opacity: 0.9; /**/
  color: #000000;
  overflow: auto;
}

.message-field {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid grey;
  background-color: transparent;
  color: grey;
  font-size: 18px;
}

.message-field:hover {
  border-bottom: 2px solid red;
  color: red;
}

.message-submit {
  border: 2px solid grey;
  background-color: transparent;
  color: grey;
  height: 40px;
}

.message-submit:hover {
  border: 2px solid red;
  background-color: transparent;
  color: red;
  height: 40px;
}


.captcha-field[type=text] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

.captcha-field:focus {
  background-color: lightblue;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalabout {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 550px;
  height: 400px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#clock {
	position: fixed; /* Stay in place */
	float: right;
	right: 0;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#file-0 { 
  cursor: move; 
  }
#file-0:active {
  }
#file-1 { 
  cursor: move; 
  }
#file-2 { 
  cursor: move;}
#file-3 { 
  cursor: move;}
#file-4 { 
  cursor: move;}
#file-5 {
 cursor: move;}
#file-6 { 
  cursor: move;}
#file-7 { position: absolute;
  cursor: move;}

.noselect, .file, .window, #menubar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#desktop{
  position:absolute;
  top:30px;bottom:0px;
  left:0px;right:0px;
}

.file{
  font-size:12px;
  font-family:courier, mono-space;
  text-align:center;
  width:128px;
  height:90px;
  float:left;
  cursor:pointer;
  word-wrap:break-word;
}

.vertfile{
  font-size:12px;
  font-family:courier, mono-space;
  text-align:center;
  width:128px;
  height:90px;
  cursor:pointer;
  word-wrap:break-word;
}

.file p{
  margin:5px 0px;
}

.file a{
  text-decoration:none;
  color:black;
}

.file:hover .name{
  background-color:black;
  color:white;
}

.name{
  background-color:white;
  padding: 2px 4px;
}

#menubar{
  position:relative;
  font-family: courier, mono-space;
  font-size:14px;
  font-weight:bold;
  height:27px;
  background-color:white;
  border-bottom: 1px solid black;
  margin-bottom:0px;
  z-index: 999999;
}

#menubar {
  color: inherit;
  text-decoration: none;
}

#menubar:hover {
  background-color:white;
  
  filter: alpha(opacity=70); -moz-opacity: 0.7; opacity: 0.7; /*100% 100%, 0 100%*/
  
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

#menubar {
  background-size: 0 1px, 100% 1px;
}

.menu{
 position: relative;
 z-index: 99999;
 float: left;
 height: 20px;
 overflow: hidden;
 padding-left: 5px;
 margin-right: 8px;
 margin-top: 5px;
 cursor: pointer;
}

.menu > p{
  margin: 0px;
  padding: 0px 5px;
  height:22px;
}

.menu:hover{
  overflow:visible;
}

.menu p{
  cursor:pointer;
}

.menu p:hover, .menu:hover > p {
  background-color:black;
  color:white;
}

.menu .menubox{
  position: absolute;
  z-index: 99999;
  width: auto;
  min-width: 100px;
  background-color: #FFF;
  border: 1px #808080;
  box-shadow: 3px 3px 6px #808080;
  white-space: nowrap;
  padding: 5px;
  margin-bottom: 5px;
  cursor: default;
}
.menu .item{
  margin: 0px;
  padding: 2px 4px;
}

.menu a{
  text-decoration:none;
  color:black;
}
.menu p:hover a{
  color:white
}

.window{
  position:absolute;
  left: 20px; top:20px;
  min-width:100px;
  min-height:100px;
  width:400px;
  height:250px;
  background-color:white;
  border: 1px solid black;
  overflow:hidden;
  z-index: 0;
}

.window .bar{
  background-image: url(../img/window-bar.png);
  cursor:pointer;
  position:relative;
  font-family: courier, mono-space;
  font-size:10px;
  font-weight:bold;
  height:16px;
  background-color:white;
  margin-bottom:10px;
}

.window .bar p{
  text-align:center;
  margin:0px;
  padding-top: 2px;
}

.window .bar p .name{
  margin-top:0px;
}

.window .bar div.close{
  position:absolute;
  width:9px;
  height:9px;
  border:1px solid black;
  background-color:white;
  right: 2px;
  top:1px;
}

.window .resize{
  position:absolute;
  width:14px; height:14px;
  border:1px solid black;
  background-color:white;
  cursor:se-resize;
  right:-1px;bottom:-1px;
}

.window .bar div.close:hover{

}

.window .view{
  position:absolute;
  top:16px;
  left:0px;right:0px;
  bottom:0px;
  overflow:auto;
  padding-top:10px;
}


.view::-webkit-scrollbar, iframe::-webkit-scrollbar
{
  width: 15px;
  border-left:1px solid black;
  border-top:1px solid black;
  background-image:url(../img/dither.png);
}

.view::-webkit-scrollbar-thumb, iframe ::-webkit-scrollbar-thumb
{
  width:14px;
  height:14px;
  border:1px solid black;
  background:white;
}

.window.image .view img{
  display: block;
  margin: 0em auto;
}

.window.html .view{
  padding-top:0em;
}

.window.image .view{
  padding-top:0em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window.html iframe{
  width:100%;
  height:100%;
}

body.mousedown iframe{
  pointer-events:none;
}